.title {
    width: 300px;
}
.link {
    width: 300px;
}
.description {
    width: 500px;
    height: 100px;
}
body{
    background-color:lightseagreen;
    color:white;
}
a:link {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: #0111be;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
    font-size: 130%;
}
a:active {
    color: whitesmoke;
    text-decoration: none;
}
a:link, a:visited {
    /*background-color: #f44336;*/
    /*color: white;*/
    /*padding: 7px 10px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
}

a:hover, a:active {
    background-color: red;
    color: #2db5ff;
}
#welcome {
    text-align: center;
    color: yellow;
    font-size: x-large;
    font-family: "Agency FB";
}
#username {
    text-align: center;
    margin-top: 3%;
}
#password {
    text-align: center;
}
#login {
    position: absolute;
    left: 58%;
    top: 18%
}
#register {
    position: absolute;
    left: 50%;
}
#guest {
    position: absolute;
    top: 10%;
    left: 45%;
}
#alltext {
    border: dashed;
}
#forms {
    text-align: center;
}
#regbody {
    border: dashed;
}
#title2 {
    text-align: center;
    color: yellow;
    font-size: x-large;
    font-family: "Agency FB";
}
#logbutton {
    position: absolute;
    top: 6%;
    left: 60%;
}
#regbutton {
    position: absolute;
    top: 6%;
    left: 65%;
}
#php {
    color: red;
}
#storystuff {
    margin-left: 30%;
}
.homeform {
    margin-left: 30%
}
.homebuttons {

}

.commentlink {

}
